.roadmap-section {
    padding: 40px 20px;
    background-color: #121212; /* Optional background color */
    text-align: center;
  }
  
  .roadmap-section-title {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .roadmap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    gap: 40px;
    max-width: 1400px;
  }
  
  .roadmap-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    position: relative;
  }
  
  .roadmap-line {
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, #ff00ff, #00f);
    margin-bottom: 15px;
    border-radius: 50%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  .roadmap-title {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }
  
  .roadmap-title:hover {
    color: #ff00ff;
  }
  
  @media (max-width: 768px) {
    .roadmap {
      flex-direction: column;
      gap: 20px;
    }
  
    .roadmap-step {
      flex: none;
    }
  
    .roadmap-line {
      width: 30px;
      height: 30px;
    }
  
    .roadmap-title {
      font-size: 16px;
    }
  }
  .fundraised-container {
    margin-top: 120px;
    margin-right: 20px;
    text-align: center;
  }
  
  .fundraised-image {
    width: 100%; /* Reduce the size to 50% of its original width */
    max-width: 80%;
    height: auto;
    display: block; /* Ensures the image is treated as a block element */
    margin: 0 auto; /* Horizontally center the image */
  }
  